.navbar-class {
  list-style-type: none;
  margin: 0;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 60px;
}

ul li {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 3%;
  padding-left: 1%;
  font-size: 12px;
  position: relative;
  top: 5px;
  background-size: 12px;
  background-position: 0px 17px;
  background-repeat: no-repeat;
}

.Contact {
  background-image: url("../../Assets/phone.png");
}

.logout-btn {
  padding-right: 5%;
  background-image: url("../../Assets/logoutLogo.png");
}

.my-appointments {
  background-image: url("../../Assets/scheduleLogo.png");
}

.view-profile {
  background-image: url("../../Assets/profileLogo.png");
}
.company-name-header {
  float: left;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: -10px;
}
