.register-main-user {
  color: white;
  background-color: black;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  padding: 0px 10px 100px 10px;
}

img {
  width: 50px;
  float: initial;
}

.form-header-user {
  margin-top: 20px;
  text-align: center;
}

#user-register-field {
  margin: 10px;
  float: left;
}
.user-gender-register {
  padding-right: 230px;
}

.name-user {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.password-user {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.dob-user {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.mobile-user {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.email {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.pincode {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.city {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.state {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.country {
  width: 300px;
  border-radius: 5px;
  height: 25px;
  color: black;
}

.coach-button-register {
  text-align: center;
}

.register-user {
  background-color: green;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
  position: relative;
  top: 350px;
  left: -150px;
}
