.register-main-coach {
  color: white;
  background-color: black;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  padding: 0px 10px 10px 10px;
}

img {
  width: 50px;
  float: initial;
}

.form-header-coach {
  margin-top: 20px;
  text-align: center;
}

#coach-register-field {
  margin: 10px;
  float: left;
}
.coach-gender-register {
  padding-right: 230px;
}

.name-coach {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  color: black;
}
.password-coach {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  color: black;
}
.dob-coach {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  color: black;
}
.mobile-coach {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  color: black;
}
.speciality-coach {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  color: black;
}

.coach-button-register {
  text-align: center;
}

.register-coach {
  background-color: green;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
  position: relative;
  top: 250px;
  left: -160px;
}
