.account-card-back {
  padding-top: 200px;
}

.account-card-main {
  background-color: black;
  color: white;
  width: 450px;
  height: 275px;
  border-radius: 10px;
  margin: auto;
}

.account-card-header {
  padding: 20px;
}
.account-gender-logo {
  width: 170px;
  float: left;
  padding: 20px;
}
.go-back-btn {
  background-color: teal;
  float: right;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  width: 150px;
  background-image: url("../../Assets/backArrow.png");
  background-position: 20px 7px;
  background-size: 20px;
  background-repeat: no-repeat;
}
